@font-face {
  font-family:  BeautyMountains;
  src: url(../fonts/BeautyMountains.ttf);
}

@font-face {
  font-family: SchiffenFontDuo;
  src: url(../fonts/SchiffenFontDuo.ttf);
}

@font-face {
  font-family: MrB;
  src: url(../fonts/MrB.ttf);
}

@font-face {
  font-family: EvanstonTavern;
  src: url(../fonts/EvanstonTavern-1826Light.ttf);
}

.row > * {
  padding: 0;
}

.btn {
  color: #4C4C43;
}

a {
  text-decoration: none;
}

.part-one, .part-two {
  position: relative;
}

.part-two,
.part-three {
  z-index: 1;
  background-color: white;
}

.part-one, .part-two, .part-three {
  overflow: hidden;
}

/* Navbar */

.nav-item {
  transition: 0.3s;
  padding: 0 4vw;
  font-weight: bold;
}

.nav-item:hover {
  background-color: lightyellow;
}

/* Part 1 */

.one-piha {
  animation: fade-out 4s 1.5s;
}

.two-piha {
  transform: translateY(100%);
  animation: bottom-to-top 5s 1.5s forwards;
}

.three-piha {
  transform: translateX(100%);
  animation: left-to-right 4s 6s forwards;
}

.two-piha,
.three-piha {
  position: absolute;
  top: 0;
  left: 0;
}

#a-first-text:before {
  content: 'Piha';
  font-family: BeautyMountains;
  color: #281310;
  font-size: 10vh;
  position: absolute;
  top: 33%;
  left: 10%;
  animation: text-piha 8s 1.5s forwards;
}

#a-second-text {
  position: absolute;
  top: 45%;
  right: 1%;
  background-color: #FFC107;
  padding: 1vh;
  font-weight: bold;
  border-radius: 5px;
  color: #4C4C43;
  transform: translateX(150%);
  animation: left-to-right 3s 7s alternate infinite;
}

#a-name {
  position: absolute;
  font-size: 2vh;
  bottom: 4%;
  right: 1%;
  font-weight: bold;
  color: #FFC107;
  opacity: 0;
  animation: fade-scale-in 2s 9s forwards;
}

@keyframes text-piha {
  0% {font-size: 10vh;}
  25%, 75% {
    font-size: 0vh;
    transform: rotate(360deg);
  }

  50%, 100% {
    font-size: 10vh; 
    transform: rotate(-360deg); 
  }

  50% {
    color: #e5c58c;
    content: 'Scenic'; 
  }
  100% {
    color: #FFC107;
    content: 'Wild'; 
  }
}

@keyframes fade-out {
  100% { opacity: 0; }
}

@keyframes fade-scale-in {
  0% {
    transform: scale(0);
  }
  100% { 
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes bottom-to-top {
  100% { transform: translateY(0); }
}

@keyframes left-to-right {
  100% { transform: translateX(0); }
}

/* Part 2 */
.one-ii {
  transform: scale(1.2);
  animation: zoom-out 3s 1.5s forwards;
}

.two-ii {
  position: absolute;
  left: 0;
  opacity: 0;
  transform: scale(2.2) translateX(25%);
  animation: fade-in 1s 4s forwards, move-to-left 4s 5s forwards;
}

#b-first-txt {
  top: 10%;
  font-size: 50px;
  transform: skewX(20deg);
}

#b-second-txt {
  top: 25%;
  font-size: 40px;
}

#b-first-txt, #b-second-txt {
  font-family: SchiffenFontDuo;
  animation: fade-out 1s 4s forwards;
}

#b-first-txt, #b-second-txt, #b-third-txt {
  position: absolute;
  left: 10%;
  z-index: 1;
  color: white;
}

#b-third-txt {
  top: 10%;
  font-size: 70px;
  line-height: 6vh;
  font-family: MrB;
  opacity: 0;
  animation: fade-in 2s 5s forwards;
}

#b-btn {
  position: absolute;
  bottom: 20%;
  left: 10%;
  z-index: 1;
  background-color: white;
  color: rgb(0, 88, 204);
  padding: 0 1vh 1vh 1vh;
  border-radius: 5px;
  font-family: EvanstonTavern;
  font-size: 25px;
  opacity: 0;
  animation: fade-in 1s 7s forwards;
}

#b-name {
  position: absolute;
  font-size: 2vh;
  bottom: 4%;
  left: 10%;
  font-weight: bold;
  color: white;
  opacity: 0;
  animation: fade-scale-in 2s 9s forwards;
}

#b-logo {
  position: absolute;
  bottom: 3%;
  right: 3%;
  width: 15%;
}

@keyframes zoom-out {
  100% { transform: scale(1); }
}

@keyframes fade-in {
  100% { opacity: 1; }
}

@keyframes move-to-left {
  100% { transform: scale(2.2) translateX(9%); }
}

/* Part 3 */
.part-three {
  position: relative;
  padding: 4vh 5vw;
}

.hidden {
  display: none;
}

.progress {
  font-size: 17px;
  height: 4vh;
  margin: 1vh 0;
}

.progress-bar {
  color: #4C4C43;
}

#form-btns {
  position: absolute;
  bottom: 5vh;
  right: 10vh;
}