@font-face {
  font-family: Lobster;
  src: url(../fonts/Lobster-Regular.ttf);
}

.row > * {
  padding: 0;
}

.btn {
  color: #4C4C43;
}

a {
  text-decoration: none;
}

.part-two,
.part-three {
  z-index: 1;
  background-color: white;
} 

/* Navbar */

.nav-item {
  transition: 0.3s;
  padding: 0 4vw;
  font-weight: bold;
}

.nav-item:hover {
  background-color: lightyellow;
}

/* Part 1 */

.part-one {
  position: relative;
}

.one-piha {
  animation: fade-out 4s 1.5s;
}

.two-piha {
  transform: translateY(100%);
  animation: bottom-to-top 5s 1.5s forwards;
}

.three-piha {
  transform: translateX(100%);
  animation: left-to-right 4s 6s forwards;
}

.two-piha,
.three-piha {
  position: absolute;
  top: 0;
  left: 0;
}

#a-first-text:before {
  content: 'Piha';
  font-family: Lobster;
  color: #281310;
  font-size: 7vh;
  position: absolute;
  top: 33%;
  left: 10%;
  animation: text-piha 8s 1.5s forwards;
}

#a-second-text {
  position: absolute;
  top: 45%;
  right: 1%;
  background-color: #FFC107;
  padding: 1vh;
  font-weight: bold;
  border-radius: 5px;
  color: #4C4C43;
  transform: translateX(150%);
  animation: left-to-right 3s 7s alternate infinite;
}

#a-name {
  position: absolute;
  font-size: 1.7vh;
  bottom: 1%;
  right: 1%;
  font-weight: bold;
  color: #FFC107;
  opacity: 0;
  animation: fade-in 2s 9s forwards;
}

@keyframes text-piha {
  0% {font-size: 7vh;}
  25%, 75% {
    font-size: 0vh;
    transform: rotate(360deg);
  }

  50%, 100% {
    font-size: 7vh; 
    transform: rotate(-360deg); 
  }

  50% {
    color: #e5c58c;
    content: 'Scenic'; 
  }
  100% {
    color: #FFC107;
    content: 'Wild'; 
  }
}

@keyframes fade-out {
  100% { opacity: 0; }
}

@keyframes fade-in {
  0% {
    transform: scale(0);
  }
  100% { 
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes bottom-to-top {
  100% { transform: translateY(0); }
}

@keyframes left-to-right {
  100% { transform: translateX(0); }
}

/* Part 2 */



/* Part 3 */

.part-three {
  padding: 3vh 5vw;
}

.hidden {
  display: none;
}

.progress {
  font-size: 17px;
  height: 30px;
  margin: 10px 0;
}

.progress-bar {
  color: #4C4C43;
}